{
  "obs": {
    "websocket": {
      "host": "localhost",
      "port": 4455,
      "password": "PASSWORD_GOES_HERE"
    },
    "scenes": {
      "list": ["Test Scene 1", "Test Scene 2", "Test Scene 3"],
      "projector_scene": "Projector",
      "ptz_scene": "Camera 2",
      "wait_min": 3,
      "wait_max": 8,
      "wait_min_slow": 5,
      "wait_max_slow": 12
    }
  },
  "scene_interest_api": {
    "url": "http://localhost:3853/status",
    "poll_interval": 1
  },
  "bpm_api": {
    "url": "http://localhost:3962/bpm",
    "poll_interval": 5
  },
  "lyrics_api": {
    "url": "http://localhost:4932/data",
    "poll_interval": 1
  }
}
